body{
    background-color: lightsalmon;
    font-size: 28;
    font-family: sans-serif;
    color: black;
    text-align: center;
  }
  .overlay{
    background-color: lightseagreen;
    margin-left: 25%;
    margin-right: 16%;
    border-radius: 10px;
  }
  
  